.list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.Country__item{
    list-style: none;
    border: solid 1px purple;
    width: 150px;
    padding: 10px;
}


.img_flag {
    width: 20px;
}